In [1]:
# Import the libraries 
import pandas as pd
import numpy as np
import seaborn as sns # For creating plots
import matplotlib.ticker as mtick # For specifying the axes tick format 
import matplotlib.pyplot as plt

In [2]:
# Read the CSV file 
df = pd.read_csv("telco.csv")
df.head(7)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes
6,1452-KIOVK,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.4,No

In [5]:
# Making it display all columns in the table 
with pd.option_context('display.max_rows', None):
    display(df.head(10))

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes
6,1452-KIOVK,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.4,No
7,6713-OKOMC,Female,0,No,No,10,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.9,No
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes
9,6388-TABGU,Male,0,No,Yes,62,Yes,No,DSL,Yes,...,No,No,No,No,One year,No,Bank transfer (automatic),56.15,3487.95,No

In [6]:
# Making the names of the columns lowercase to make it easier
df.columns = df.columns.str.lower()

In [7]:
# Checking the types of the data we have 
df.dtypes

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges         object
churn                object
dtype: object

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerid        7043 non-null   object
 1   gender            7043 non-null   object
 2   seniorcitizen     7043 non-null   int64
 3   partner           7043 non-null   object
 4   dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   phoneservice      7043 non-null   object
 7   multiplelines     7043 non-null   object
 8   internetservice   7043 non-null   object
 9   onlinesecurity    7043 non-null   object
 10  onlinebackup      7043 non-null   object
 11  deviceprotection  7043 non-null   object
 12  techsupport       7043 non-null   object
 13  streamingtv       7043 non-null   object
 14  streamingmovies   7043 non-null   object
 15  contract          7043 non-null   object
 16  paperlessbilling  7043 non-null   object
 17  paymentmethod     7043 non-null   object
 18  monthlycharges    7043 non-null   float64
 19  totalcharges      7043 non-null   object
 20  churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [10]:
# Iterating through all the columns to understand the contents of the data
for each in df.columns:
    print(f"Number of {each}: {df[each].nunique()}")
    print(f"Options of {each}: {df[each].unique()}")
    print(f"Value counts: {df[each].value_counts()}")
    print()

Number of customerid: 7043
Options of customerid: ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']
Value counts: 7590-VHVEG    1
3791-LGQCY    1
6008-NAIXK    1
5956-YHHRX    1
5365-LLFYV    1
             ..
9796-MVYXX    1
2637-FKFSY    1
1552-AAGRX    1
4304-TSPVK    1
3186-AJIEK    1
Name: customerid, Length: 7043, dtype: int64

Number of gender: 2
Options of gender: ['Female' 'Male']
Value counts: Male      3555
Female    3488
Name: gender, dtype: int64

Number of seniorcitizen: 2
Options of seniorcitizen: [0 1]
Value counts: 0    5901
1    1142
Name: seniorcitizen, dtype: int64

Number of partner: 2
Options of partner: ['Yes' 'No']
Value counts: No     3641
Yes    3402
Name: partner, dtype: int64

Number of dependents: 2
Options of dependents: ['No' 'Yes']
Value counts: No     4933
Yes    2110
Name: dependents, dtype: int64

Number of tenure: 73
Options of tenure: [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]
Value counts: 1     613
72    362
2     238
3     200
4     176
     ...
28     57
39     56
44     51
36     50
0      11
Name: tenure, Length: 73, dtype: int64

Number of phoneservice: 2
Options of phoneservice: ['No' 'Yes']
Value counts: Yes    6361
No      682
Name: phoneservice, dtype: int64

Number of multiplelines: 3
Options of multiplelines: ['No phone service' 'No' 'Yes']
Value counts: No                  3390
Yes                 2971
No phone service     682
Name: multiplelines, dtype: int64

Number of internetservice: 3
Options of internetservice: ['DSL' 'Fiber optic' 'No']
Value counts: Fiber optic    3096
DSL            2421
No             1526
Name: internetservice, dtype: int64

Number of onlinesecurity: 3
Options of onlinesecurity: ['No' 'Yes' 'No internet service']
Value counts: No                     3498
Yes                    2019
No internet service    1526
Name: onlinesecurity, dtype: int64

Number of onlinebackup: 3
Options of onlinebackup: ['Yes' 'No' 'No internet service']
Value counts: No                     3088
Yes                    2429
No internet service    1526
Name: onlinebackup, dtype: int64

Number of deviceprotection: 3
Options of deviceprotection: ['No' 'Yes' 'No internet service']
Value counts: No                     3095
Yes                    2422
No internet service    1526
Name: deviceprotection, dtype: int64

Number of techsupport: 3
Options of techsupport: ['No' 'Yes' 'No internet service']
Value counts: No                     3473
Yes                    2044
No internet service    1526
Name: techsupport, dtype: int64

Number of streamingtv: 3
Options of streamingtv: ['No' 'Yes' 'No internet service']
Value counts: No                     2810
Yes                    2707
No internet service    1526
Name: streamingtv, dtype: int64

Number of streamingmovies: 3
Options of streamingmovies: ['No' 'Yes' 'No internet service']
Value counts: No                     2785
Yes                    2732
No internet service    1526
Name: streamingmovies, dtype: int64

Number of contract: 3
Options of contract: ['Month-to-month' 'One year' 'Two year']
Value counts: Month-to-month    3875
Two year          1695
One year          1473
Name: contract, dtype: int64

Number of paperlessbilling: 2
Options of paperlessbilling: ['Yes' 'No']
Value counts: Yes    4171
No     2872
Name: paperlessbilling, dtype: int64

Number of paymentmethod: 4
Options of paymentmethod: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Value counts: Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: paymentmethod, dtype: int64

Number of monthlycharges: 1585
Options of monthlycharges: [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
Value counts: 20.05     61
19.85     45
19.95     44
19.90     44
20.00     43
          ..
23.65      1
114.70     1
43.65      1
87.80      1
78.70      1
Name: monthlycharges, Length: 1585, dtype: int64

Number of totalcharges: 6531
Options of totalcharges: ['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']
Value counts:           11
20.2      11
19.75      9
20.05      8
19.9       8
          ..
6849.4     1
692.35     1
130.15     1
3211.9     1
6844.5     1
Name: totalcharges, Length: 6531, dtype: int64

Number of churn: 2
Options of churn: ['No' 'Yes']
Value counts: No     5174
Yes    1869
Name: churn, dtype: int64

In [11]:
# Changing "No..something" to "No" 
for idx, row in df.iterrows():
    if df.loc[idx,'phoneservice'] == 'No':
        df.loc[idx,'multiplelines'] = 'No'
    if df.loc[idx,'internetservice'] == 'No':
        df.loc[idx,['onlinesecurity','onlinebackup','deviceprotection','techsupport','streamingtv','streamingmovies']] = 'No'

In [12]:
# Changing the column totalcharges from str to float
df.totalcharges = pd.to_numeric(df.totalcharges, errors='coerce')

In [13]:
# Checking the number of null values
df.isnull().sum()

customerid           0
gender               0
seniorcitizen        0
partner              0
dependents           0
tenure               0
phoneservice         0
multiplelines        0
internetservice      0
onlinesecurity       0
onlinebackup         0
deviceprotection     0
techsupport          0
streamingtv          0
streamingmovies      0
contract             0
paperlessbilling     0
paymentmethod        0
monthlycharges       0
totalcharges        11
churn                0
dtype: int64

In [17]:
# The totalcharges are NaN when tenure == 0
check = df[df["tenure"]==0] 
check.head(12)

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
488,4472-LVYGI,Female,0,Yes,Yes,0,No,No,DSL,Yes,...,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,NaN,No
753,3115-CZMZD,Male,0,No,Yes,0,Yes,No,No,No,...,No,No,No,No,Two year,No,Mailed check,20.25,NaN,No
936,5709-LVOEQ,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,...,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,NaN,No
1082,4367-NUYAO,Male,0,Yes,Yes,0,Yes,Yes,No,No,...,No,No,No,No,Two year,No,Mailed check,25.75,NaN,No
1340,1371-DWPAZ,Female,0,Yes,Yes,0,No,No,DSL,Yes,...,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,NaN,No
3331,7644-OMVMY,Male,0,Yes,Yes,0,Yes,No,No,No,...,No,No,No,No,Two year,No,Mailed check,19.85,NaN,No
3826,3213-VVOLG,Male,0,Yes,Yes,0,Yes,Yes,No,No,...,No,No,No,No,Two year,No,Mailed check,25.35,NaN,No
4380,2520-SGTTA,Female,0,Yes,Yes,0,Yes,No,No,No,...,No,No,No,No,Two year,No,Mailed check,20.00,NaN,No
5218,2923-ARZLG,Male,0,Yes,Yes,0,Yes,No,No,No,...,No,No,No,No,One year,Yes,Mailed check,19.70,NaN,No
6670,4075-WKNIU,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,...,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,NaN,No
6754,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,...,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,NaN,No

In [18]:
# Filling total charges with 0
df["totalcharges"].fillna(0, inplace = True)

In [19]:
# Checking for NaN values
df.isnull().sum()

customerid          0
gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
monthlycharges      0
totalcharges        0
churn               0
dtype: int64

In [21]:
# Dropping customerid as it brings no meanining
df_dum = df.drop(columns=["customerid"])
df_dum.head(3)

,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,Female,0,Yes,No,1,No,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

In [22]:
# Looping through categorical columns 
columns=[]
for i in df_dum.columns:
    if len(df_dum[i].unique()) == 2:
        columns.append(i)
columns

['gender',
 'seniorcitizen',
 'partner',
 'dependents',
 'phoneservice',
 'multiplelines',
 'onlinesecurity',
 'onlinebackup',
 'deviceprotection',
 'techsupport',
 'streamingtv',
 'streamingmovies',
 'paperlessbilling',
 'churn']

In [23]:
# Applying dummies on all columns 
dumdum=pd.get_dummies(df_dum,columns=columns,drop_first=True)
dumdum=pd.get_dummies(dumdum, columns =["internetservice","contract","paymentmethod",])
dumdum.head(10)

,tenure,monthlycharges,totalcharges,gender_Male,seniorcitizen_1,partner_Yes,dependents_Yes,phoneservice_Yes,multiplelines_Yes,onlinesecurity_Yes,...,internetservice_DSL,internetservice_Fiber optic,internetservice_No,contract_Month-to-month,contract_One year,contract_Two year,paymentmethod_Bank transfer (automatic),paymentmethod_Credit card (automatic),paymentmethod_Electronic check,paymentmethod_Mailed check
0,1,29.85,29.85,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,1,0
1,34,56.95,1889.50,1,0,0,0,1,0,1,...,1,0,0,0,1,0,0,0,0,1
2,2,53.85,108.15,1,0,0,0,1,0,1,...,1,0,0,1,0,0,0,0,0,1
3,45,42.30,1840.75,1,0,0,0,0,0,1,...,1,0,0,0,1,0,1,0,0,0
4,2,70.70,151.65,0,0,0,0,1,0,0,...,0,1,0,1,0,0,0,0,1,0
5,8,99.65,820.50,0,0,0,0,1,1,0,...,0,1,0,1,0,0,0,0,1,0
6,22,89.10,1949.40,1,0,0,1,1,1,0,...,0,1,0,1,0,0,0,1,0,0
7,10,29.75,301.90,0,0,0,0,0,0,1,...,1,0,0,1,0,0,0,0,0,1
8,28,104.80,3046.05,0,0,1,0,1,1,0,...,0,1,0,1,0,0,0,0,1,0
9,62,56.15,3487.95,1,0,0,1,1,0,1,...,1,0,0,0,1,0,1,0,0,0

In [25]:
# Saving the CSV to use it later
dumdum.to_csv("Telecom_dummies.csv", index=False)